.acbMain {
    height: 40px;
    background-color: rgba(235, 235, 235, 1);
    display: flex;
    align-items: center;
    cursor: pointer;
    position: absolute;
    right: -1px;
    bottom: -42px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: .3s;
    border: 1px #9a9a9a solid;
}

.acbMain.notActive {
    opacity: .7;
}

.acbMain:hover {
    opacity: 1;
    background-color: rgba(225, 225, 225, 1);
}

.acbHalfButton {
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.acbArrowContainer {
    height: 25px;
    width: 25px;
    border: 1px #9a9a9a solid;
    border-radius: 50%;
    background-color: white;
    position: relative;
    transition: 0.3s;
}

.acbArrowContainer.open {
    transform: rotate(180deg);
}

.acbArrow {
    height: 12px;
    width: 12px;
    border: 1px #9a9a9a none;
    border-left-style: solid;
    border-top-style: solid;
    transform: rotate(45deg);
    position: absolute;
    top: 9px;
    left: 6px;
    transition: .3s;
}